  .ticket-accordion {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 16px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .accordion-header {
    background-color: #f5f5f5;
    padding: 12px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .accordion-header:hover {
    background-color: #ececec;
  }
  
  .ticket-header-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
  }

  .ticket-id {
    font-size: 18px;
    font-weight: bold;
  }
  
  .subject {
    font-size: 16px;
  }
  
  .accordion-details {
    padding: 16px;
    background-color: #f9f9f9;
  }
  
  .dropdowns {
    display: flex;
    gap: 10px;
  }
  

  .response-textarea {
    max-width: 80%;
    width: 100%;
  }

  .ticket-details {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    max-width: 80%;
  }
  

  h1 {
    text-align: center;
  }