.landing-container {
    text-align: center;
    margin-top: 100px;
}

.button-container {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

body {
 background-color: aqua;
}